/*udelware colors this is the 
  color: #00539F; blue
    color: #FFD200; yellow*/


.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.trans-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(97, 97, 97);
  opacity: 0.3;
  height: 100vh;
  width: 100vw;
}

.size {
  width: 100vw;
  overflow-x: hidden;
  background-image: url(imgs/bg.jpg);
}

body {
  background-image: url(imgs/bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introTxt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.logoMain {

  max-height: 200px;

}

.pic1 {
  rotate: -25deg;
}

.pic2 {
  rotate: 25deg;
}


.popIn {
  animation: popIn 0.6s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  60% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bbh {
  height: 100vh;
}

.bo {
  background-color: rgba(0, 83, 159, 0.5);
  border-radius: 10px;
  width: 50vw;
  color: #FFD200;
}

.UDFont {
  font-family: "campus-mn", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  /* default size for large screens */
}

/* Medium screens and smaller */
@media (max-width: 991.98px) {
  .UDFont {
    font-size: 1.6rem;
  }
}

/* Small screens and smaller */
@media (max-width: 575.98px) {
  .UDFont {
    font-size: 1.4rem;
  }
}

.height {
  height: 80vh;
}


.bgBlue {
  background-color: #00539F;
  border: #00539F 1px solid;
  border-radius: 10px;
}

.big {
  height: 50vh;
}

.bgWhite {
  background-color: white;
  height: 100vh;
}

.bgWhite2 {
  background-color: #00539F;
  height: 140vh;
}

.bgGray {
  background-color: gray;
  border-radius: 10px;
}

ul.centered-list {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
}

.chart {
  width: 50vw;
  border: 5px #00539F solid;
  border-radius: 10px;
}

.alumni {
  border-radius: 50%;
  height: 10vh;
}